body {
    background-color:rgba(0, 0, 0, 0.4) ;
    font-family: Arial, sans-serif;
    color: aliceblue;
    
    
  }
  
  /* Header Styles */
  .head{

    background-color: rgb(244, 169, 78);

  }
  header {
    background-color:rgba(0, 0, 0, 0.4) ;
    color: #ac6969;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  
  .logo h1 {
    margin: 0px;
    color: oldlace;
    
  }
  
  nav ul {
    color: rgb(244, 169, 78);
    margin: 20px;
    list-style: none;
    display: flex;
    
  }
  
  nav li {
    margin-right: 20px;
    font-size: 20px;
    color: brown;
    text-decoration: none;
    
  }
  .header1{
    padding-top: 80px;
    background-color:rgba(0, 0, 0, 0.4) ;

  }
 .header1 {
        text-align: center;
        color:antiquewhite;
        font-size: 50px;
        padding-bottom: 20px;

  }
  .header1 p{
    text-align: center;
    color:aqua;
    font-size: 30px;
  }
  .navbar :hover{

      color: aqua;

  }

  a{
    color: brown;

  }

  .about{
    background-color:rgba(0, 0, 0, 0.4);
    font-size: large;
    padding-top: 40px;
    padding-bottom: 50px;
    color: aqua;


  }


  .footer{
    background-color: rgba(0, 0, 0, 0.4);
    color: aqua;
     padding-top: 100px;
     text-align: justify;
  }
  